*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.video-thumbnail{
    width: 300px;
}
.div1{
    width: 300px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.search{
    display: block;
}

.video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    line-height: 20px;
    
    
    
}
.video-author{
    margin-bottom: 0px;
    margin-top: 12px;
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-stats{
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.channel-logo{
    
    border-radius: 300px;
    width: 50px;
}
.channel-profile{
    display: inline-block;
    width: 50px;
    vertical-align: top;

}
.video-info{
    
    display: inline-block;
    width: 200px;
}
.thumbnail-div{
    margin-bottom: 12px;
}